<div id="Page">
  
  
  <div *ngIf="loggedIn">
    <h1>Hello, {{currentUser.Name}}</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <label>What are you looking for?</label>
        </div>
        <div class="col-sm-2">
          <label>What's the recipients zip code?</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <input #keywordInput type="text" placeholder="keywords">
        </div>
        <div class="col-sm-2">
          <input #zipcodeInput type="text" placeholder="Type a zip (ex: 98007)">
        </div>
      </div>
    </div>
    <br><br>
    <button id="searchBtn" (click)="findItems()">Find Gifts!</button>
    <button id="searchBtn" (click)="findStores()">Find Stores!</button>  
    <br><br>
 <br>

    
    <h2>Nearby Stores</h2>
    <ul class="targetStores">
      <li *ngFor="let targetStore of targetStores">
        <div class="storeInfo" (click)="selectStore(targetStore.storeId)">
          <div><img src="../../assets/targetLogo.jpeg" alt="target_logo"></div>
          <div class="store">Location: {{targetStore.locationName}}</div>
          <div class="store">Distance: {{targetStore.distance}}</div>
          <div class="store">Phone: {{targetStore.phoneNumber}}</div>
          <div id="storeId">StoreId: {{targetStore.storeId}}</div>
        </div>
      </li>
    </ul>
  
    <h2>Products</h2>
    <ul class="targetItems">
      <li *ngFor="let targetItem of targetItems">
        <!-- <div class="itemInfo" (click)="selectItem(targetItem.userId, targetItem.storeId, targetItem.itemId, targetItem.itemPrice)"> -->
          
        <div class="itemInfo">
          <div><img class="images" src={{targetItem.itemImage}}/></div>
          <div class="name">{{targetItem.itemName}}</div>
          <div class="price">price: {{targetItem.itemPrice}}</div>
          <div class="itemId">itemId: {{targetItem.itemId}}</div>
          <div class="video"><a href={{targetItem.itemVideo}}>Video Link</a></div>
        </div>
        <!-- <label>Qty: </label>
        <input #itemQty type="number" min="1" max="100" placeholder="Item qty"/> -->
        <button id="searchBtn" (click)="selectItem(targetItem)">Add Item</button> 
      </li>
    </ul>
  </div>
</div>