<div id="Page">
  <div *ngIf="loggedIn">
    <h1>Hello, {{currentUser.Name}}</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <label>What's the recipients zip code?</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" style="margin-top: 1%;">
          <input #zipcodeInput type="text" placeholder="Type a zip (ex: 98007)">
        </div>
      </div>
    </div>
    <br><br>
    <button id="searchBtn" (click)="findStores()">Find Stores!</button>  
    <br><br>

    <ul class="targetStores">
      <li *ngFor="let targetStore of targetStores">
        <div class="storeInfo" routerLink="/Products" (click)="selectStore(targetStore.storeId)">
          <div><img src="../../assets/target.jpg" alt="target_logo"></div>
          <div class="store">Location: {{targetStore.locationName}}</div>
          <div class="store">Distance: {{targetStore.distance}}</div>
          <div class="store">Phone: {{targetStore.phoneNumber}}</div>
          <div id="storeId">StoreId: {{targetStore.storeId}}</div>
          <button id="searchBtn" routerLink="/Products" (click)="selectStore(targetStore.storeId)">Go To Store</button>
        </div>
      </li>
    </ul>
  </div>
</div>