<h1>{{currentUser}}</h1>

<div *ngIf="!loggedIn">
  <app-login></app-login>
  </div>


<div *ngIf="loggedIn">
  <label>Search: </label><input type="text" placeholder="keywords">
  <label>Zipcode: </label><input type="text" placeholder="ex: 98007">
  <ul class="targetItems">
    <li *ngFor="let targetItem of targetItems">
      <div><img class="images" src={{targetItem.itemImage}}/></div>
      <div class="name">{{targetItem.itemName}}</div>
      <div class="price">price: {{targetItem.itemPrice}}</div>
      <div class="video"><a href={{targetItem.itemVideo}}>Video Link</a></div>
    </li>
  </ul>
  <app-login></app-login>
</div>