<div id="Page">

    <div *ngIf="loggedIn">
        <h1>Welcome to the Products page, {{currentUser.Name}}</h1>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
              <label>What are you looking for?</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <input #keywordInput type="text" placeholder="keywords">
            </div>
        </div>

        <br><br>
        <button id="searchBtn" (click)="findItems()">Find Gifts!</button>
        <br><br>

        <h2>Products</h2>
        <ul class="targetItems">
          <li *ngFor="let targetItem of targetItems">
              
            <div class="itemInfo">
              <div><img class="images" src={{targetItem.itemImage}}/></div>
              <div class="name">{{targetItem.itemName}}</div>
              <div class="price">price: {{targetItem.itemPrice}}</div>
              <div class="itemId">itemId: {{targetItem.itemId}}</div>
              <div class="video"><a href={{targetItem.itemVideo}}>Video Link</a></div>
            </div>
            <!-- <label>Qty: </label>
            <input #itemQty type="number" min="1" max="100" placeholder="Item qty"/> -->
            <button id="searchBtn" (click)="selectItem(targetItem)">Add Item</button> 
            <button id="searchBtn" routerLink="/Cart">Checkout</button> 
          </li>
        </ul>
    </div>

</div>
