<div id="Page">
    <div *ngIf="loggedIn">
        <h1>{{currentUser.Name}}</h1>
        <div>
            <label for="users-name">Name: </label>
            <input id="users-name" value={{currentUser.Name}} #usersName/> 
        </div>
        <div>
            <label for="users-email">Email: </label>
            <input id="users-email" value={{currentUser.Email}} #usersEmail/> 
        </div>
        <br>
        <button id="editBtn" (click)="updateUser()">Accept Changes</button>
    </div>
</div>
