<h1>{{currentUser}}</h1>
<div *ngIf="!loggedIn">
    <app-login></app-login>
</div>
<div *ngIf="loggedIn">
    <ul class="items">
        <li *ngFor="let item of items">
        
            <a routerLink="/detail/{{item.id}}">
                <div class="badge">{{item.name}}</div>             
            </a>
            <div>
                <label for="item-qty">Qty: </label>
                <input type="number" min="1" max="100" id="item-qty" [(ngModel)]="item.qty" 
                placeholder="Item qty" (ngModelChange)="updateItem(item);"/>        
            </div>
            <label>Price: ${{(item.price * item.qty).toFixed(2)}}</label>
            
        </li>        
    </ul>


    <p>Tax: ${{(subtotal * .095).toFixed(2)}}</p>
    <p>Subtotal: ${{subtotal.toFixed(2)}}</p>
    <p>Delivery Fee: $15.55</p>
    <strong><p>Total: ${{(subtotal * 1.095 + 15.55).toFixed(2)}}</p></strong>

<button routerLink="/Checkout">Checkout</button>
</div>
