<h1>My Cart</h1>
<!-- <div ng-app="" ng-init="Sub =0">
    <p>{{Sub}}</p>
</div> -->
    <ul class="items">
        <li *ngFor="let item of items">
        
            <a routerLink="/detail/{{item.id}}">
                <div class="badge">{{item.name}}</div>             
            </a>
            <div>
                <label for="item-qty">Qty: </label>
                <input id="item-qty" [(ngModel)]="item.qty" placeholder="Item qty" (ngModelChange)="getItems();"/>        
            </div>
            <label id={{item.id}}>{{(item.price * item.qty).toFixed(2)}}</label>
            
        </li>        
    </ul>


    <p>Tax: ${{(subtotal * .095).toFixed(2)}}</p>
    <p>Subtotal: ${{subtotal.toFixed(2)}}</p>
    <p>Delivery Fee: $15.55</p>
    <strong><p>Total: ${{(subtotal * .095 + subtotal + 15.55).toFixed(2)}}</p></strong>

<button>Checkout</button>
