<div id="Page">
    
    <div *ngIf="loggedIn">
        <h1>{{currentUser}}</h1>
        <strong><p style="font-size:25px;">Total: ${{(subtotal * 1.095 + 15.55).toFixed(2)}}</p></strong>
        <ul class="items">
            <li *ngFor="let item of items">
               <span>
                    <a routerLink="/detail/{{item.id}}"><div class="badge">{{item.name}}</div></a>
                    <div>
                        <pre><strong>Qty:</strong> {{item.qty}}  <strong>Price:</strong> ${{(item.price * item.qty).toFixed(2)}}</pre>       
                    </div> 
                </span>           
            </li>        
        </ul>
        <br><br>
        <div class="container">
            <div class="row">
                <div id="shipping" class="col">
                    <h2>Shipping Address</h2>

                    <label for="shipping-name">Name: </label><br>
                    <input id="shipping-name" /><br>
                    <br>
                    <label for="shipping-address-1">Address Line 1: </label><br>
                    <input id="shipping-address-1" /><br>
                    <br>
                    <label for="shipping-address-2">Address Line 2: </label><br>
                    <input id="shipping-address-2" /><br>
                    <br>
                    <label for="shipping-city">City: </label><br>
                    <input id="shipping-city" /><br>
                    <br>
                    <label for="shipping-state">State/Province: </label><br>
                    <input id="shipping-state" /><br>
                    <br>
                    <label for="shipping-zip">Zip Code: </label><br>
                    <input maxlength="10" id="shipping-zip" /><br>
                    <br>
                    <label for="shipping-country">Country: </label><br>
                    <input id="shipping-country" /><br>
                    <br>
                    <label for="shipping-phone">Telephone: </label><br>
                    <input id="shipping-phone" /><br>
                    <br>
                </div>
                <div id="billing" class="col">
                    <h2>Billing Address</h2>

                    <label for="billing-name">Name: </label><br>
                    <input id="billing-name" /><br>
                    <br>
                    <label for="billing-address-1">Address Line 1: </label><br>
                    <input id="billing-address-1" /><br>
                    <br>
                    <label for="billing-address-2">Address Line 2: </label><br>
                    <input id="billing-address-2" /><br>
                    <br>
                    <label for="billing-city">City: </label><br>
                    <input id="billing-city" /><br>
                    <br>
                    <label for="billing-state">State/Province: </label><br>
                    <input id="billing-state" /><br>
                    <br>
                    <label for="billing-zip">Zip Code: </label><br>
                    <input maxlength="10" id="billing-zip" /><br>
                    <br>
                    <label for="billing-country">Country: </label><br>
                    <input id="billing-country" /><br>
                    <br>
                    <label for="billing-phone">Telephone: </label><br>
                    <input id="billing-phone" /><br>
                    <br>
                </div>
                <div id="payment" class="col">
                    <h2>Payment Info</h2>

                    <label for="card-number">Card Number: </label><br>
                    <input id="card-number" placeholder="0000 0000 0000 0000"/><br>
                    <br>
                    <label for="card-experation">Experation Date: </label><br>
                    <input type="month" id="card-experation"/><br>
                    <br>
                    <label for="card-security">CCV/CVV: </label><br>
                    <input id="card-security" placeholder="000"/><br>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button id="payBtn">Finish & Pay</button>
    </div>
    
</div>