<div id="Page">
    
    <div *ngIf="loggedIn">
        <h1>{{currentUser}}</h1>
        <strong><p style="font-size:25px">Total: ${{(subtotal * 1.095 + 15.55).toFixed(2)}}</p></strong>
        <ul class="items">
            <li *ngFor="let item of items">
               <span>
                    <a routerLink="/detail/{{item.id}}"><div class="badge">{{item.itemName}}</div></a>
                    <div>
                        <pre><strong>Qty:</strong> {{item.itemQty}}  <strong>Price:</strong> ${{(item.itemPrice * item.itemQty).toFixed(2)}}</pre>       
                    </div> 
                </span>           
            </li>        
        </ul>
        <br><br>
        <div class="container">
            <div class="row">
                <div id="shipping" class="col">
                    <h2>Shipping Address</h2>

                    <label for="shipping-name">Name: </label><br>
                    <input id="shipping-name" #shippingName/><br>
                    <br>
                    <label for="shipping-address-1">Address Line 1: </label><br>
                    <input id="shipping-address-1" #shippingAddress1/><br>
                    <br>
                    <label for="shipping-address-2">Address Line 2: </label><br>
                    <input id="shipping-address-2" #shippingAddress2/><br>
                    <br>
                    <label for="shipping-city">City: </label><br>
                    <input id="shipping-city" #shippingCity/><br>
                    <br>
                    <label for="shipping-state">State/Province: </label><br>
                    <input id="shipping-state" #shippingState/><br>
                    <br>
                    <label for="shipping-zip">Zip Code: </label><br>
                    <input maxlength="10" id="shipping-zip" #shippingZip/><br>
                    <br>
                    <label for="shipping-country">Country: </label><br>
                    <input id="shipping-country" #shippingCountry/><br>
                    <br>
                </div>
                <div id="billing" class="col">
                    <h2>Billing Address</h2>

                    <label for="billing-name">Name: </label><br>
                    <input id="billing-name" #billingName/><br>
                    <br>
                    <label for="billing-address-1">Address Line 1: </label><br>
                    <input id="billing-address-1" #billingAddress1/><br>
                    <br>
                    <label for="billing-address-2">Address Line 2: </label><br>
                    <input id="billing-address-2" #billingAddress2/><br>
                    <br>
                    <label for="billing-city">City: </label><br>
                    <input id="billing-city" #billingCity/><br>
                    <br>
                    <label for="billing-state">State/Province: </label><br>
                    <input id="billing-state" #billingState/><br>
                    <br>
                    <label for="billing-zip">Zip Code: </label><br>
                    <input maxlength="10" id="billing-zip" #billingZip/><br>
                    <br>
                    <label for="billing-country">Country: </label><br>
                    <input id="billing-country" #billingCountry/><br>
                    <br>
                    <label for="billing-phone">Telephone: </label><br>
                    <input id="billing-phone" #billingPhone/><br>
                    <br>
                </div>
                <div id="payment" class="col">
                    <h2>Payment Info</h2>

                    <label for="card-number">Card Number: </label><br>
                    <input id="card-number" placeholder="0000 0000 0000 0000" #cardNumber/><br>
                    <br>
                    <label for="card-expiration">Expiration Date: </label><br>
                    <input type="month" id="card-expiration" #cardExpiration/><br>
                    <br>
                    <label for="card-security">CCV/CVV: </label><br>
                    <input id="card-security" placeholder="000" #cardCsv/><br>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button (click)="finalizeCheckout()" id="payBtn" routerLink="/Home">Finish & Pay</button>
    </div>
    
</div>