<div id="Page">
    
    <div *ngIf="loggedIn">
        <h1>{{currentUser}}</h1>
        <strong><p style="font-size:25px">Total: ${{(subtotal * 1.095 + 15.55).toFixed(2)}}</p></strong>
        <ul class="items">
            <li *ngFor="let item of items">
               <span>
                    <a routerLink="/detail/{{item.id}}"><div class="badge">{{item.name}}</div></a>
                    <div>
                        <pre><strong>Qty:</strong> {{item.qty}}  <strong>Price:</strong> ${{(item.price * item.qty).toFixed(2)}}</pre>       
                    </div> 
                </span>           
            </li>        
        </ul>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div id="shipping" class="col-sm-4">
                    <h2>Shipping Address</h2>

                    <p><label for="shipping-name">Name: </label>
                        <input id="shipping-name" /></p>
            
                    <p><label for="shipping-address-1">Address Line 1: </label>
                    <input id="shipping-address-1" /></p>
                
                    <p><label for="shipping-address-2">Address Line 2: </label>
                    <input id="shipping-address-2" /></p>
                
                    <p><label for="shipping-city">City: </label>
                    <input id="shipping-city" /></p>
                
                    <p><label for="shipping-state">State/Province: </label>
                    <input id="shipping-state" /></p>
                
                    <p><label for="shipping-zip">Zip Code: </label>
                    <input maxlength="10" id="shipping-zip" /></p>
                
                    <p><label for="shipping-country">Country: </label>
                    <input id="shipping-country" /></p>
                
                    <p><label for="shipping-phone">Telephone: </label>
                    <input id="shipping-phone" /></p>
                </div>
                <div id="billing" class="col-sm-4">
                    <h2>Billing Address</h2>
                    <p><label for="billing-name">Name: </label>
                        <input id="billing-name" /></p>

                    <p><label for="billing-address-1">Address Line 1: </label>
                    <input id="billing-address-1" /></p>
                
                    <p><label for="billing-address-2">Address Line 2: </label>
                    <input id="billing-address-2" /></p>
                
                    <p><label for="billing-city">City: </label>
                    <input id="billing-city" /></p>
                
                    <p><label for="billing-state">State/Province: </label>
                    <input id="billing-state" /></p>
                
                    <p><label for="billing-zip">Zip Code: </label>
                    <input maxlength="10" id="billing-zip" /></p>
                
                    <p><label for="billing-country">Country: </label>
                    <input id="billing-country" /></p>
                
                    <p><label for="billing-phone">Telephone: </label>
                    <input id="billing-phone" /></p>
                </div>
                <div id="payment" class="col-sm-4">
                    <h2>Payment Info</h2>
                    <p><label for="card-number">Card Number: </label>
                    <input id="card-number" placeholder="0000 0000 0000 0000"/></p>
                
                    <p><label for="card-experation">Experation Date: </label>
                    <input type="month" id="card-experation"/></p>
                
                    <p><label for="card-security">CCV/CVV: </label>
                    <input id="card-security" placeholder="000"/></p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button id="payBtn">Finish & Pay</button>
    </div>

    <div *ngIf="!loggedIn">
        <app-login></app-login>
    </div>
    
</div>