@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Abril Fatface';
  box-sizing: border-box;
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url(assets/fonts/KaushanScript-Regular.ttf);
}

@media (min-width: 768px) {
};

.startContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(assets/main_pic.png);
  background-attachment: fixed;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

img {
  width: 60px;
  height: 60px;
  text-align: center !important;
}

.gifts {
  width: 100%;
  height: 100%;
  margin: 10%;
}

#font {
  font-family: 'KaushanScript-Regular';
  font-size: 42px;
  margin: 0 0 0 10px;
}

.sideBySide {
  display: flex;
  justify-content: center; 
  align-items: center;
  vertical-align: middle;
  margin-top: 4.5%;
}

.sideBySide2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  vertical-align: middle;
}

.driver-partner {
  width: 27%;
  height: 27%;
}

p {
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text {
  font-size: 16.5px;
  font-weight: 100;
}

#addText {
  font-family: myriad-pro, sans-serif;
  font-size: 20px;
}

#big_font {
  font-size: 60px;
  margin: 96px 0 96px 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center !important;
}

#btnNav, #buttonDiv, #guestBtn {
  font-family: myriad-pro,sans-serif;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  padding: 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center; 
  align-items: center;
  width: 10em;
  margin: 15px;

}

#btnNav:hover, #logoutBtn:hover, #buttonDiv:hover, #guestBtn:hover, #editLink:hover, #payBtn:hover {
  background-color: #fff;
}

#btnNav:active, #logoutBtn:active, #buttonDiv:active, #guestBtn:active, #editLink:hover, #payBtn:hover {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.center {
  display: flex;
  justify-content: center; 
  align-items: center;
  vertical-align: middle;
  margin: 15% 0 15% 0;
}

.centerDriver-Parter {
  text-align: center;
}

.endContainer {
  background-color: #FFDFDD;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

h1 {
    font-family: myriad-pro,sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

h2 {
    text-decoration: underline;
    margin-bottom: 15px;
}

#Page {
    font-family: myriad-pro,sans-serif;
    text-align: center;
    margin-top: 30px;
}

#Page p {
    font-size: 20px;
}

ul {
    color: black;
    list-style-position: inside;
}

span {
    position: relative;
    left: -15px;
}

.badge {
    color:black;
    font-size: 25px;
    text-transform: capitalize;
}

.badge:hover {
    color: gray;
}

pre {
    font-family: myriad-pro,sans-serif;
    font-size: 20px;
}

label {
    font-size: 25px;
    font-weight: 600;
    margin-right: 20px;
}

.col{
  grid-auto-columns: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.col h2{
  text-align: center;
}

.container {
  width:70%;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:black;
}

#payBtn, #checkoutBtn, #editLink, #editBtn, #logoutBtn, #searchBtn {
    font-family: myriad-pro,sans-serif;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    justify-content: center; 
    align-items: center;
    margin-bottom: 100px;
}

#guest{
  text-decoration: none;
  color:black;
}


#cartItems input {
    margin-right: 10px;
}

#cartItems button {
    background-color: transparent;
    border: none;
    color: red;
}

#cartItems button:hover {
    color: red;
    font-weight: bold;
}

#cartItems p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

#endLable p {
    text-align: left;
    font-style: italic;
}

#endCost p {
    text-align: center;
}

.row {
    justify-content: center;
}


